{% extends "LoginBase.html" %}
{% load static %}
{% block content %}


  <form  method="POST" class="text-left form-validate">
    {% csrf_token %}
    
    <div class="form-group-material">
      <input id="login-username" type="text" name="username" required data-msg="Please enter your username" class="input-material">
      <label for="login-username" class="label-material">Username</label>
    </div>
    <div class="form-group-material">
      <input id="login-password" type="password" name="password" required data-msg="Please enter your password" class="input-material">
      <label for="login-password" class="label-material">Password</label>
    </div>

    <div class="container">
      {% include 'messages.html' %}
    </div>



    <div class="form-group text-center"> <input id="login" type="submit" value="Login" class="btn btn-primary">
    </div>


  </form><a href="forgotPassword" class="forgot-pass">Forgot Password?</a><small>Do not have an account? </small><a href="register" class="signup">Signup</a>

{% endblock %}
