{% extends "LoginBase.html" %}
{% load static %}
{% block content %}

   <form method="POST" class="text-left form-validate">
    {% csrf_token %}
     

     <div class="form-group-material">
       <input id="password1" type="password" name="new_password1" required data-msg="Please Enter New Password" class="input-material">
       <label for="register-username" class="label-material">Password</label>
     </div>
     <div class="form-group-material">
        <input id="password1" type="password" name="new_password2" required data-msg="Please Enter New Password" class="input-material">
        <label for="register-username" class="label-material">Confirm Password</label>
      </div>
      <div class="container">
        {% include 'messages.html' %}
      </div>
  


     <div class="form-group text-center">
       <input id="sub" type="submit" value="Submit" class="btn btn-primary">
     </div>
  
   </form><small>Already have an account? </small><a href="/login" class="signup">Login</a>

{% endblock %}
